@media (min-width: 38rem) {
  html {
    font-size: 16px;
  }
}

.container {
  overflow: hidden;
}
@media (min-width: 56rem) {
  .container {
    max-width: 42rem;
  }
}

@media (min-width: 30rem) {
  .sidebar {
    font-size: 1rem;
  }
}
