@media (min-width: 38rem) {
  html {
    font-size: 16px;
  }
}

/* Container */
.container {
  overflow: hidden;
}
@media (min-width: 56rem) {
  .container {
    max-width: 50rem;
  }
}

/* Side bar */
@media (min-width: 30rem) {
  .sidebar {
    font-size: 1rem;
  }
}

/* Area below the top banner */
.masthead {
  margin-bottom: 2rem;
}

/* Category separator  */
ul.catlist li:after {
  content: "\00B7";
}

/* List inside article content */
.container.content.article-content ul {
  list-style-type: disc;
  margin-left: 2rem;
}

/* Article title */
/*header h2 {
  border-bottom: 1px solid #aaa;
  padding-bottom: 0.5rem;
}*/

/* Article date in home page */
header .meta {
  margin-bottom: 0.5rem;
}
