<div class="share-on">
  <div class="share-on-label">Share on: </div>
  <div class="share-on-icons">
    <a class="social-button" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}">
      <img src="https://s3.amazonaws.com/activelab/files/icons/facebook.png" alt="share on facebook">
    </a>
    <a class="social-button" href="https://twitter.com/intent/tweet?via=davidcaiblog&amp;url={{ .Permalink }}">
      <img src="https://s3.amazonaws.com/activelab/files/icons/twitter.png" alt="share on twitter">
    </a>
    <a class="social-button" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}">
      <img src="https://s3.amazonaws.com/activelab/files/icons/linkedin.png" alt="share on linkedin">
    </a>
    <a class="social-button" href="https://plus.google.com/share?url={{ .Permalink }}">
      <img src="https://s3.amazonaws.com/activelab/files/icons/google-plus.png" alt="share on google plus">
    </a>
  </div>
</div>
